force-app/main/default/flows/Integration_Execution_Retry_All_Executions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retry_All_Failed_Integration_Execution</name>
        <label>Retry All Failed Integration Execution</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>BatchRetryAllIntegrationExecutions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Retry_Started</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Job_in_Progress</name>
        <label>Job in Progress</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference
      >Retry_All_Failed_Integration_Execution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Apex_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description
  >Calls the BatchRetryAllIntegrationExecutions Apex Class to retry all executions</description>
    <environments>Default</environments>
    <interviewLabel
  >Integration Execution | Retry All Executions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration Execution | Retry All Executions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Apex_Id</name>
        <label>Get Apex Id</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Apex_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BatchRetryAllIntegrationExecutions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApexClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Apex_Job</name>
        <label>Get Apex Job</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_in_Progress</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>ApexClassId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Apex_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Holding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preparing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AsyncApexJob</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>In_Progress</name>
        <label>In Progress</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InProgressText</name>
            <fieldText
      >&lt;p&gt;Retry all Integration Execution records is already in progress. Please wait for the job to complete before retrying again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retry_Started</name>
        <label>Retry Started</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RetryStartedText</name>
            <fieldText
      >&lt;p&gt;Retry batch job has been initiated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StartScreen</name>
        <label>StartScreen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Apex_Id</targetReference>
        </connector>
        <fields>
            <name>StartScreenText</name>
            <fieldText
      >&lt;p&gt;Click Next to retry all failed Integration Execution records&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>StartScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
